

.login{
    width: 600px;
    margin: 200px auto;
    border: 1px ;
}

.btn-large{
    width: 100%;
    margin: 20px 0;
}
.form-group{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

.link-create-account{
    text-align: center;
  
}
