

.login{
    width: 600px;
    margin: 200px auto;
    border: 1px ;
}

.btn-large{
    width: 100%;
    margin: 20px 0;
}
.form-group{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
}

.link-create-account{
    text-align: center;
  
}


.login-error {
  text-align: center;
  color: var(--color-surface);
  background-color: var(--color-background-error);
  padding: 10px 15px;
  border: 1px solid var(--color-error);
  border-radius: 8px; 
  margin-top: 10px; 
  opacity: 0;
  transform: translateY(-5px);
  animation: fadeIn 0.3s forwards;
}

.login-error::before {
  content: "⚠️";
  margin-right: 8px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

